/*---For animated bee----*/

.bee-container {
    position: relative;
    left: 20%;  /*position from the left*/
  }
  
  .wing-left, .wing-right {
    position: absolute;
    opacity: 73%;
  }
  
  .wing-left {
    transform-origin: top ;
    animation: flap-left 0.3s infinite alternate ease-in-out;
  }
  
  .wing-right {
    transform-origin: top ;
    animation: flap-right 0.3s infinite alternate ease-in-out;
  }
  
  @keyframes flap-left {
    from { transform: rotate(100deg); }
    to { transform: rotate(120deg); }
  }
  
  @keyframes flap-right {
    from { transform: rotate(-100deg); }
    to { transform: rotate(-120deg); }
  }
  
  
  